body{

	font-family: effra !important;
	margin: 0 !important;
	padding: 0 !important;
}

.header {
    background: #008249;
    font-family: effra_medium;
}

.header a {

	color: #fff;
	text-transform: uppercase;
}

.header-top {
    background-color: #ececec;
    padding: 5px 0 ;
}
.top-menu-inner ul {
    margin: unset;
    padding: unset;
}

.top-menu-inner li {
    list-style: none;
    display: inline-block;
    padding: 5px 0;
}



.top-menu-inner a {
    border-right: 1px solid;
    padding: 1px 10px;
}

.header-top a {
    text-decoration: none;
    color: #000;
}

.header-top .flag {
    padding-bottom: 3px;
}

.top-menu-inner ul li:last-child > a {
    border: none;
    padding-right: 0;
}

.language{

	float: right;
}

.search{

	float: right;
	padding: 4px;
}

.top-menu-inner{
	float: left;
}

.search button {
    background: none;
    border: none;
}

.search input[type="text"] {
    border: 1px solid #a7a7a7;
    padding: 0px 5px;
    border-radius: 7px;
}

.language ul {
    margin: unset;
    padding: unset;
}

.language li{
	list-style: none;
    display: inline-block;
    padding: 5px 0;
}

.language a {
    border-right: 1px solid;
    padding: 1px 7px;
}

.language ul li:last-child > a {
    border: none;
    padding-right: 0;
}

.main-cover {
    height: 545px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.main-cover:before {
    content: '';
    position: absolute;
    background: rgba(0, 130, 73, 0.65);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.main-cover h2 {
    margin: 0;
    color: #fff;
    font-size: 44px;
    margin-top: 40px;
}

.main-cover a {
  color: #fff;
    font-size: 25px;
    text-decoration: none;
    background: #008249;
    padding: 5px 15px;
    box-shadow: 0px 0px 5px 1px rgba(28,97,52,1);
    margin-top: 40px;
}

.main-cover a:hover{

	color: #fff;
	text-decoration: none;
}

.main-inner {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    top: 15%;
}

.main-inner img {
    height: 170px;
}

.header-mid {
    margin: 10px 0;
}
.logo
{

	display: inline-block;
}
.logo a {
	color: #000;
}

.logo a:hover {
  text-decoration: none;
  color: #000;
}

.logo img {
	height: 100px;
	position: relative;
    bottom: 7px;
}


.logo h4 {
	display: inline-block;
    font-size: 24px;
    max-width: 250px;
    position: relative;
    top: 10px;
}

.header-address {
    display: inline-block;
    max-width: 260px;
    position: relative;
    top: 27px;
}
.header-address li {
    list-style: none;
}

.header-address i {
    color: #008249;
    font-size: 18px;
     padding-right: 3px;
    padding-bottom: 10px;
}

.header-address span {
    font-size: 15px;
   

}

.header-address ul li:last-child i {
    color: #008249;
    font-size: 18px;
    float: left;
    padding-bottom: 4px;
    padding-right: 10px;
}
.add-text{

	font-weight: bold;
	padding-right: 5px;
}

.header-work-days {
    display: inline-block;
    max-width: 260px;
    position: relative;
    top: -2px;
}
.header-work-days li {
    list-style: none;
}

.header-work-days i {
    color: #008249;
    font-size: 18px;
     padding-right: 3px;
    padding-bottom: 10px;
}

.header-work-days span {
    font-size: 15px;
   

}

.header-work-days ul li:last-child i {
    color: #008249;
    font-size: 18px;
    float: left;
    padding-bottom: 4px;
    padding-right: 10px;
}


.virtual-reception {

	display: inline-block;
	position: relative;
    left: 10%;
    bottom: 10px;
}

.virtual-reception a {
    text-decoration: none;
    color: #008249;
    background: #ffffff;
    padding: 13px 18px;
    border: 2px solid;
    border-radius: 25px;
    font-weight: bold;
}

.virtual-reception a:hover{

	color:#008249;
	text-decoration: none;

}

.features {
    margin: 20px 0;
}	

.features-item {
   background: #008249;
    text-align: center;
    float: left;
    max-width: 260px;
    margin: 10px;
    padding: 18px 0;
    box-shadow: 0px 9px 15px -11px rgba(0,0,0,1) !important;
}

.features h2 {
    font-size: 24px;
    color: #fff;
    padding: 0 19px;
}

.features h1{
  font-family: effra_medium;
	text-align: center;
	font-size: 36px;
	margin-bottom: 25px;
}

.features h1 span {
	border-bottom: 2px solid #008249;
}

.news h1{
  font-family: effra_medium;
	text-align: center;
	font-size: 36px;
	margin-bottom: 25px;
}

.news h1 span {
	border-bottom: 2px solid #008249;
}

.owl-nav{
	display: block !important;
}

.news a{

	text-decoration: none;
}

.owl-nav.disabled {
    text-align: center;
    margin-top: 20px;
}
button.owl-next {
      box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    background: #fff !important;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

button.owl-prev {
        box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    background: #fff !important;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

button.owl-next i {
	font-size: 25px;
}
button.owl-prev i {
	font-size: 25px;
}



.news-item {
/*    box-shadow: 0px 9px 15px -11px rgba(0,0,0,1) !important;*/
    margin: 0 15px;
    border: 1px solid #adadad;
}

.news-content {
    height: 150px;
    margin-top: -10px;
    padding: 10px 15px;
    padding-right: 3px;
}

.news-content h5 {
    font-size: 19px;
    color: #008249;
}

.news-content p {
    font-size: 17px;
    color: #242424;
}

.links h1{
  font-family: effra_medium;
	text-align: center;
	font-size: 36px;
	margin-bottom: 25px;
}

.links h1 span {
	border-bottom: 2px solid #008249;
}


.links-item img {
    float: left;
 padding: 3px
}
.links-item h2 {
    font-size: 20px;
    position: relative;
  bottom: 11px;
    left: 15px;
}

.links-inner {
       box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    height: 105px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.links .row {
	margin-bottom: 20px; /*temp*/
}



.footer {
    background: #008249;
    height: 180px;
}

.footer .container{
	padding: 0;
	height: 100%;
}

.footer img {
    height: 100px;
    float: left;
}

.footer h2 
{
	font-size: 23px;
	color: #fff;
}

.footer .container .col-md-4:nth-child(1) {
    margin-top: 2%;
        padding-left: 9px;
}

.footer .container .col-md-4:nth-child(1) h2 {
    padding: 6px 0;
}


.footer  .container .col-md-4:nth-child(2) {
    text-align: center;
    color: #fff;
    height: 100%;
}

.footer .col-md-4 ul {
    margin: 0;
    padding: 0;
    position: relative;
    top: 30%;

}



.footer .col-md-4 ul li{
	list-style: none;
	display: inline-block;
 	padding: 0 6px;
}
.footer .col-md-4 i {
    font-size: 36px;
    color: #fff;
}

.footer .col-md-4 h4 {
    position: relative;
    top: 56%;
}


.footer .col-md-4 p {
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    top: 51px;
    margin-left: 23%;
    margin-bottom: 0;
}

.developer {
    text-align: center;
    background: #008249;
    border-top: 1px solid #9e9e9e;
    padding:10px;
}

.developer a{

	color: #fff;
	font-family: effra_medium;
	font-size: 16px;

}

.developer a:hover{

	color: #fff;
	
}


